---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* solarized light syntax highlighting (base16) */
// $base00: #fafafa !default;
// $base01: #073642 !default;
// $base02: #586e75 !default;
// $base03: #657b83 !default;
// $base04: #839496 !default;
// $base05: #586e75 !default;
// $base06: #eee8d5 !default;
// $base07: #fdf6e3 !default;
// $base08: #dc322f !default;
// $base09: #cb4b16 !default;
// $base0a: #b58900 !default;
// $base0b: #859900 !default;
// $base0c: #2aa198 !default;
// $base0d: #268bd2 !default;
// $base0e: #6c71c4 !default;
// $base0f: #d33682 !default;

// Gigavold
// $base00: #202126;
// $base01: #2d303d;
// $base02: #5a576e;
// $base03: #a1d2e6;
// $base04: #cad3ff;
// $base05: #e9e7e1;
// $base06: #eff0f9;
// $base07: #f2fbff;
// $base08: #ff661a;
// $base09: #19f988;
// $base0A: #ffdc2d;
// $base0B: #f2e6a9;
// $base0C: #fb6acb;
// $base0D: #40bfff;
// $base0E: #ae94f9;
// $base0F: #6187ff;

// Bright
$base00: #282c34;
$base01: #353b45;
$base02: #3e4451;
$base03: #b0b0b0;
$base04: #d0d0d0;
$base05: #e0e0e0;
$base06: #f5f5f5;
$base07: #ffffff;
$base08: #fb0120;
$base09: #FF5600;
$base0A: #fc6d24;
$base0B: #a1c659;
$base0D: #76c7b7;
$base0C: #0085FF;
$base0E: #FF0085;
$base0F: #be643c;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/*
GS: override any CSS with new CSS styles AFTER the `@import "minimal-mistakes";` line just above!
See: https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
Anything you place after this point will therefore "cascade and override" the previous CSS styles.
*/

/*
GS: Decrease font sizes of the entire website.
Defaults for small, medium, large, and x-large screens are:
16, 18, 20, and 22px, in that order. All other font sizes are "em"
[typography unit](https://en.wikipedia.org/wiki/Em_(typography)) multipliers of these pixel
(px) values, and are therefore relative to and changed by these singular pixel values.
See: https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
- It looks like the screen pixel sizes to move into each new "size" category are defined in
  the "Breakpoints" section of "_variables.scss"?
*/
html {
  font-size: 12px; // change to whatever

  @include breakpoint($small) {
    font-size: 12px; // change to whatever
  }

  @include breakpoint($medium) {
    font-size: 14px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 18px; // change to whatever
  }

}